<head>

    <%= stylesheet_link_tag "sign", :media => "all" %>

    <%= javascript_include_tag "sign" %>

</head>

<div class="sign-content">

  <div id="sign-shape">

    <div class="sign-box">

      <h2>Cadastro</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.text_field :name, placeholder: "Nome", autofocus: true %>
        </div>

        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "E-mail", autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, placeholder: "Senha (mínimo 6 caracteres)", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, placeholder: "Confirmação Senha", autocomplete: "new-password"%>
        </div>

        <%= f.submit "Sign up", class: "actions" %>

      <% end %>

    </div>

  </div>

</div>