<head>

    <%= stylesheet_link_tag "order", :media => "all" %>

    <%= javascript_include_tag "order" %>

</head>


<% if user_signed_in? %>
    <% if !current_user.admin? %>

        <!--For Client signed-->


        <div class="parallax-content">
            <h1 class="first">GREGO</h1>
            <h1 class="forth">GREGO</h1>
            <h1 class="secund">GREGO</h1>
            <h2>Bem-Vinda(o)</h2>
            <p><%= current_user.name %></p>
            <h1 class="third">GREGO</h1>
        </div>


        <div class="content">
            <div class="shape">
                <img src="<%= image_url('shape_background.png') %>" alt="Responsive image">
            </div>

            <div class="container-grego">
                <div id="grego-parallax">
                    <img src="<%= image_url('maps.png') %>" alt="Responsive image">
                </div>
                <div class="about-grego">
                    <div class="shape-grego-info">
                        <p>O comércio do Grego é um estande de venda de comidas que é especializado em comidas de carne de churrasco grego. As opções de comidas disponíveis são: Deliciosas marmitas com carne de churrasco grego e sanduíches de churrasco grego. 
                        <br>Atualmente, o comércio está localizado na pista de caminhada próximo à parada de ônibus do Campus do Gama da Universidade de Brasília (UnB-FGA).
                        <br>O horário de funcionamento ocorre, na semana, durante o período do almoço (12:00 - 14:00). O comércio não é aberto aos fins de semana.
                        <br>Formas de pagamento aceitas: <br>Cartão de débito
                                                        <br>Cartão de crédito
                                                        <br>Dinheiro</p>
                    </div>
                </div>
            </div>

            <div id="shape-yellow">
                <img src="<%= image_url('shape_background2.png') %>" alt="Responsive image">       
                <figcaption><i class="fas fa-receipt"></i>PEDIDO</figcaption>
            </div>


            <div id="content-cardapio">
                <div id="content-ingredient">
                    <div class="group-ingredient">
                        <div class="shape-white">
                            <img src="<%= image_url('paper_border.png') %>" alt="Responsive image">
                        </div>
                        <h2>_ Ingredientes da _ marmita</h2>
                        
                            <button onclick="rice()" class="ingredient" id="rice" style="width: 100%"><p>Arroz</p></button>
                            <button onclick="meat()" class="ingredient" id="meat" style="width: 100%"><p>Carne</p></button>
                            <button onclick="flour()" class="ingredient" id="flour" style="width: 100%"><p>Farofa</p></button>
                            <button onclick="bean()" class="ingredient" id="bean" style="width: 100%"><p>Feijão-Tropeiro</p></button>
                            <button onclick="manioc()" class="ingredient" id="manioc" style="width: 100%"><p>Mandioca</p></button>
                            <button onclick="potato()" class="ingredient" id="potato" style="width: 100%"><p>Batata-Palha</p></button>
                            <button onclick="vinaigrette()" class="ingredient" id="vinaigrette" style="width: 100%"><p>Vinagrete</p></button>
                        
                        
                        <div class="shape-white">
                            <img src="<%= image_url('paper_border_upsidedown.png') %>" alt="Responsive image">
                        </div>
                    </div>
                </div>
                <div id="content-drink">
                    <div class="group-drink">
                        <div class="shape-white">
                            <img src="<%= image_url('paper_border.png') %>" alt="Responsive image">
                        </div>
                        <h2>_ Bebida _</h2>


                        <button onclick="soda()" class="drink" id="soda" style="width: 100%"><p>Refrigerante</p></button>
                        <button onclick="juice()" class="drink" id="juice" style="width: 100%"><p>Suco</p></button>
                        <button onclick="small()" class="drink" id="small" style="width: 100%; display: none;"><p>Pequeno</p></button>
                        <button onclick="large()" class="drink" id="large" style="width: 100%; display: none;"><p>Grande</p></button>
                        
                        <div class="shape-white">
                            <img src="<%= image_url('paper_border_upsidedown.png') %>" alt="Responsive image">
                        </div>
                    </div>
                    <%= form_for :orders,  url: order_index_path, remote: true, authenticity_token: 'order_index_path', :html => { :onsubmit => "orderbutton()", :id => "formOrder" } do |f| %>

                        <%= f.check_box :rice, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :meat, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :bean, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :flour, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :manioc, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :potato, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :vinaigrette, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :soda, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :juice, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :small, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :large, {style: 'display: none;'}, true, false %>

                        
                        <%= f.submit "Fazer Pedido", id: "buttonOrder" %>
                    <% end %>   
                </div>
                <div id="container-cardapio">
                    <div class="cardapio">
                        <div class="cardapio-content">
                            <h2>...Cardápio...</h2>
                            <p>Marmita....................................<b>R$ 8,00</b></p>
                            <p>Copo de suco pequeno............<b>R$ 1,00</b></p>
                            <p>Copo de suco grande...............<b>R$ 2,00</b></p>
                            <p>Refrigerante.............................<b>R$ 3,00</b></p>
                        </div>
                    </div>
                </div>
            </div>


            <div id="shape-yellow">
                <img src="<%= image_url('shape_background3.png') %>" alt="Responsive image"> 
            </div>

                <div class="container-perfil">
                    <div class="content-perfil">
                        <h2>PERFIL</h2>
                        <p><b>Nome:</b> <%= current_user.name %></p>
                        <p><b>E-mail:</b> <%= current_user.email %></p>
                    </div>
                </div>

        </div>


    <% else %>


        <!--For Admin-->


        <div class="content">
            


            <div class="title-delivered">
                <h2>PEDIDOS</h2>
            </div>
            <div id="container-delivered">
                <div id="content-delivered">
                    <div id="box-delivered">
                        <h2>Entregar</h2>
                        <% @all_orders.each do |order| %>
                            <% if order.created_at.day==DateTime.now.day && order.created_at.month==DateTime.now.month && order.created_at.year==DateTime.now.year %>
                                <% if order.delivered == false %>
                                    <div class="each-delivered" >
                                        <%= form_for :orders,  url: { :action => "update", :id => order.id , :controller => "order" }, :method => :put do |f| %>
                                                <%= f.check_box :delivered, {checked: true, style: 'display: none;'}, true, false %>
                                                <%= f.submit "x", id: "deliveredbutton", onclick: "deliverbutton()" %>
                                        <% end %>
                                        <div class="number-delivered">
                                            <b><%= order.id %></b>
                                        </div>
                                        <div class="name-delivered">
                                            <%= @user.find(order.user_id).name%>
                                        </div>
                                        <div class="price-delivered">
                                            R$ <%= order.price %>
                                        </div><br />
                                    </div>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                
                <div id="content-delivered">
                    <div id="box-delivered">
                        <h2>Entregue</h2>
                        <% @all_orders.each do |order| %>
                            <% if order.created_at.day==DateTime.now.day && order.created_at.month==DateTime.now.month && order.created_at.year==DateTime.now.year %>
                                <% if order.delivered == true %>
                                    <div class="each-delivered">
                                        <div class="number-delivered">
                                            <b><%= order.id %></b>
                                        </div>
                                        <div class="name-delivered">
                                            <%= @user.find(order.user_id).name%>
                                        </div>
                                        <div class="price-delivered">
                                            R$ <%= order.price %>
                                        </div>
                                        <div id="info-order" >
                                            <p><b><br>Ingredientes:</b></p>
                                            <% if order.lunch_box.rice == true %>
                                                <p>Arroz</p>
                                            <% end %>
                                            <% if order.lunch_box.meat == true %>
                                                <p>Carne</p>
                                            <% end %>
                                            <% if order.lunch_box.bean == true %>
                                                <p>Feijão-Tropeiro</p>
                                            <% end %>
                                            <% if order.lunch_box.flour == true %>
                                                <p>Farofa</p>
                                            <% end %>
                                            <% if order.lunch_box.manioc == true %>
                                                <p>Mandioca</p>
                                            <% end %>
                                            <% if order.lunch_box.potato == true %>
                                                <p>Batata-Palha</p>
                                            <% end %>
                                            <% if order.lunch_box.vinaigrette == true %>
                                                <p>Vinagrete</p>
                                            <% end %>
                                            <p><b><br>Bebida:</b></p>
                                            <%if order.drink %>
                                                <% if order.drink.soda == true %>
                                                    <p>Refrigerante</p>
                                                <% end %>
                                                <% if order.drink.juice == true && order.drink.small == true%>
                                                    <p>Suco Pequeno</p>
                                                <% end %>
                                                <% if order.drink.juice == true && order.drink.large == true%>
                                                    <p>Suco Grande</p>
                                                <% end %>
                                            <% end %>

                                        </div>
                                    </div> 
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </div>

            </div>


            <div id="shape-yellow">
                <img src="<%= image_url('shape_background3.png') %>" alt="Responsive image"> 
            </div>

                <div class="container-perfil">
                    <div class="content-perfil">
                        <h2>PERFIL</h2>
                        <p><b>Nome:</b> <%= current_user.name %></p>
                        <p><b>E-mail:</b> <%= current_user.email %></p>
                        <p><b>Admin:</b> <%= current_user.admin %></p>
                    </div>
                </div>

        </div>

    <% end %>

<% else %>


    <!--For Client not signed-->


    <div class="parallax-content">
        <h1 class="first">GREGO</h1>
        <h1 class="forth">GREGO</h1>
        <h1 class="secund">GREGO</h1>
        <h2>Bem-Vinda(o)</h2>
        <h1 class="third">GREGO</h1>
    </div>

    


    
        <div class="content">
            <div class="shape">
                <img src="<%= image_url('shape_background.png') %>" alt="Responsive image">
            </div>

            <div class="container-grego">
                <div id="grego-parallax">
                    <img src="<%= image_url('maps.png') %>" alt="Responsive image">
                </div>
                <div class="about-grego">
                    <div class="shape-grego-info">
                        <p>O comércio do Grego é um estande de venda de comidas que é especializado em comidas de carne de churrasco grego. As opções de comidas disponíveis são: Deliciosas marmitas com carne de churrasco grego e sanduíches de churrasco grego. 
                        <br>Atualmente, o comércio está localizado na pista de caminhada próximo à parada de ônibus do Campus do Gama da Universidade de Brasília (UnB-FGA).
                        <br>O horário de funcionamento ocorre, na semana, durante o período do almoço (12:00 - 14:00). O comércio não é aberto aos fins de semana.
                        <br>Formas de pagamento aceitas: <br>Cartão de débito
                                                        <br>Cartão de crédito
                                                        <br>Dinheiro</p>
                    </div>
                </div>
            </div>

            <div id="shape-yellow">
                <img src="<%= image_url('shape_background2.png') %>" alt="Responsive image">       
                <figcaption><i class="fas fa-receipt"></i>PEDIDO</figcaption>
            </div>


            <div id="content-cardapio">
                <div id="content-ingredient">
                    <div class="group-ingredient">
                        <div class="shape-white">
                            <img src="<%= image_url('paper_border.png') %>" alt="Responsive image">
                        </div>
                        <h2>_ Ingredientes da _ marmita</h2>
                        
                            <button onclick="rice()" class="ingredient" id="rice" style="width: 100%"><p>Arroz</p></button>
                            <button onclick="meat()" class="ingredient" id="meat" style="width: 100%"><p>Carne</p></button>
                            <button onclick="flour()" class="ingredient" id="flour" style="width: 100%"><p>Farofa</p></button>
                            <button onclick="bean()" class="ingredient" id="bean" style="width: 100%"><p>Feijão-Tropeiro</p></button>
                            <button onclick="manioc()" class="ingredient" id="manioc" style="width: 100%"><p>Mandioca</p></button>
                            <button onclick="potato()" class="ingredient" id="potato" style="width: 100%"><p>Batata-Palha</p></button>
                            <button onclick="vinaigrette()" class="ingredient" id="vinaigrette" style="width: 100%"><p>Vinagrete</p></button>
                        
                        
                        <div class="shape-white">
                            <img src="<%= image_url('paper_border_upsidedown.png') %>" alt="Responsive image">
                        </div>
                    </div>
                </div>
                <div id="content-drink">
                    <div class="group-drink">
                        <div class="shape-white">
                            <img src="<%= image_url('paper_border.png') %>" alt="Responsive image">
                        </div>
                        <h2>_ Bebida _</h2>


                        <button onclick="soda()" class="drink" id="soda" style="width: 100%"><p>Refrigerante</p></button>
                        <button onclick="juice()" class="drink" id="juice" style="width: 100%"><p>Suco</p></button>
                        <button onclick="small()" class="drink" id="small" style="width: 100%; display: none;"><p>Pequeno</p></button>
                        <button onclick="large()" class="drink" id="large" style="width: 100%; display: none;"><p>Grande</p></button>
                        
                        <div class="shape-white">
                            <img src="<%= image_url('paper_border_upsidedown.png') %>" alt="Responsive image">
                        </div>
                    </div>
                    <%= form_for :orders,  url: order_index_path, remote: true, authenticity_token: 'order_index_path', :html => { :onsubmit => "orderbutton()", :id => "formOrder" } do |f| %>

                        <%= f.check_box :rice, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :meat, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :bean, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :flour, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :manioc, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :potato, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :vinaigrette, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :soda, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :juice, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :small, {style: 'display: none;'}, true, false %>
                        <%= f.check_box :large, {style: 'display: none;'}, true, false %>

                    <% end %>   
                    <div id="formOrder" >
                        <button id="buttonOrder" onclick="fazerPedido()"><%= link_to "Fazer Pedido", "/users/sign_up", id:"buttonPedido" %></button>
                    </div>
                </div>
                <div id="container-cardapio">
                    <div class="cardapio">
                        <div class="cardapio-content">
                            <h2>...Cardápio...</h2>
                            <p>Marmita....................................<b>R$ 8,00</b></p>
                            <p>Copo de suco pequeno............<b>R$ 1,00</b></p>
                            <p>Copo de suco grande...............<b>R$ 2,00</b></p>
                            <p>Refrigerante.............................<b>R$ 3,00</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<% end %>



<script>
function rice(){
    if(document.getElementById("orders_rice").checked == true){
    
        document.getElementById("orders_rice").checked = false;
        document.getElementById("rice").style.backgroundColor = "#fcfcfc";
    
    } else {
    
        document.getElementById("orders_rice").checked = true;
        document.getElementById("rice").style.backgroundColor = "#ef5350";
    
    }
}

function meat(){
    if(document.getElementById("orders_meat").checked == true){
    
        document.getElementById("orders_meat").checked = false;
        document.getElementById("meat").style.backgroundColor = "#fcfcfc";
    
    } else {
    
        document.getElementById("orders_meat").checked = true;
        document.getElementById("meat").style.backgroundColor = "#ef5350";
    
    }
}

function flour(){
    if(document.getElementById("orders_flour").checked == true){

        document.getElementById("orders_flour").checked = false;
        document.getElementById("flour").style.backgroundColor = "#fcfcfc";

    } else {
    
        document.getElementById("orders_flour").checked = true;
        document.getElementById("orders_bean").checked = false;
        document.getElementById("flour").style.backgroundColor = "#ef5350";
        document.getElementById("bean").style.backgroundColor = "#fcfcfc";
    
    }
}

function bean(){
    if(document.getElementById("orders_bean").checked == true){

        document.getElementById("orders_bean").checked = false;
        document.getElementById("bean").style.backgroundColor = "#fcfcfc";

    } else {
    
        document.getElementById("orders_bean").checked = true;
        document.getElementById("orders_flour").checked = false;
        document.getElementById("bean").style.backgroundColor = "#ef5350";
        document.getElementById("flour").style.backgroundColor = "#fcfcfc";
    }
}

function manioc(){
    if(document.getElementById("orders_manioc").checked == true){

        document.getElementById("orders_manioc").checked = false;
        document.getElementById("manioc").style.backgroundColor = "#fcfcfc";

    } else {
    
        document.getElementById("orders_manioc").checked = true;
        document.getElementById("manioc").style.backgroundColor = "#ef5350";
        document.getElementById("potato").style.backgroundColor = "#fcfcfc";
    
    }
}

function potato(){
    if(document.getElementById("orders_potato").checked == true){

        document.getElementById("orders_potato").checked = false;
        document.getElementById("potato").style.backgroundColor = "#fcfcfc";

    } else {

        document.getElementById("orders_potato").checked = true;
        document.getElementById("potato").style.backgroundColor = "#ef5350";
        document.getElementById("manioc").style.backgroundColor = "#fcfcfc";

    }
}

function vinaigrette(){
    if(document.getElementById("orders_vinaigrette").checked == true){

        document.getElementById("orders_vinaigrette").checked = false;
        document.getElementById("vinaigrette").style.backgroundColor = "#fcfcfc";

    } else {

        document.getElementById("orders_vinaigrette").checked = true;
        document.getElementById("vinaigrette").style.backgroundColor = "#ef5350";

    }
}



function soda(){
    if(document.getElementById("orders_soda").checked == true){

        document.getElementById("orders_soda").checked = false;
        document.getElementById("soda").style.backgroundColor = "#fcfcfc";

    } else {

        document.getElementById("orders_soda").checked = true;
        document.getElementById("orders_juice").checked = false;        
        document.getElementById("orders_large").checked = false;
        document.getElementById("orders_small").checked = false;
        document.getElementById("small").style.display = "none";
        document.getElementById("large").style.display = "none";
        document.getElementById("soda").style.backgroundColor = "#ef5350";
        document.getElementById("juice").style.backgroundColor = "#fcfcfc";
        document.getElementById("small").style.backgroundColor = "#fcfcfc";
        document.getElementById("large").style.backgroundColor = "#fcfcfc";

    }
}

function juice(){
    if(document.getElementById("orders_juice").checked == true){

        document.getElementById("orders_juice").checked = false;
        document.getElementById("juice").style.backgroundColor = "#fcfcfc";

    } else {

        document.getElementById("orders_juice").checked = true;
        document.getElementById("orders_soda").checked = false;
        document.getElementById("juice").style.backgroundColor = "#ef5350";
        document.getElementById("soda").style.backgroundColor = "#fcfcfc";
        document.getElementById("small").style.display = "flex";
        document.getElementById("large").style.display = "flex";

    }
}

function small(){
    if(document.getElementById("orders_small").checked == true){

        document.getElementById("orders_small").checked = false;
        document.getElementById("small").style.backgroundColor = "#fcfcfc";

    } else {

        document.getElementById("orders_small").checked = true;
        document.getElementById("orders_large").checked = false;
        document.getElementById("small").style.backgroundColor = "#ef5350";
        document.getElementById("large").style.backgroundColor = "#fcfcfc";

    }
}

function large(){
    if(document.getElementById("orders_large").checked == true){

        document.getElementById("orders_large").checked = false;
        document.getElementById("large").style.backgroundColor = "#fcfcfc";

    } else {

        document.getElementById("orders_large").checked = true;
        document.getElementById("orders_small").checked = false;
        document.getElementById("large").style.backgroundColor = "#ef5350";
        document.getElementById("small").style.backgroundColor = "#fcfcfc";

    }
}

function orderbutton(){
    alert("Pedido Feito!");
    window.location.reload();
}

function deliverbutton(){
    window.location.reload();
}

function fazerPedido(){
    document.getElementById("buttonPedido").click();
}


</script>       