<head>

    <%= stylesheet_link_tag "sign", :media => "all" %>

    <%= javascript_include_tag "sign" %>

</head>

<div class="sign-content">

  <div id="sign-shape">

    <div class="sign-box">

      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "E-mail", autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, placeholder: "Senha", autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <%= f.submit "Log in", class: "actions" %>

      <% end %>

    </div>

  </div>

</div>