/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "order";

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.title-text {
  margin: 0px;
  a {
    text-decoration: none;
    outline: none;
    color: #fcfcfc !important;
  }
  a:hover {
    text-decoration: none;
    outline: none;
    color: #ffe08d !important;
  }
}

.nav{
  li {
    a {
      outline: none;
      color: #fcfcfc !important;
    }
    a:hover {
      outline: none;
      color: #ffe08d !important;
    }
  }
}


.footer {
  background-color: #201F26;
  color: white;
  text-align: center;
  border: none;
  border-radius: none;
  p{
    margin: 15px 0px 15px 0px;
  }
}