// Place all the styles related to the Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "Raleway-Bold";
  src: url("assets/Raleway-Bold.ttf");
  font-family: "Raleway-Regular";
  src: url("assets/Raleway-Regular.ttf");
  font-family: "Raleway-Thin";
  src: url("assets/Raleway-Thin.ttf");
}

li {
  a {
    color: #fcfcfc !important;
  }
  a:hover {
    color: #ffe08d !important;
  }
}

.navbar {
  background-color: #ef5350;
}

.content-parallax {
  color: #fcfcfc !important;
  margin: 0px;
  padding-top: 100px;
}

.top-bar {
  margin: 0px;
  border: 0px;
  width: 100%;
  position: fixed;
}

.context-topbar {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;
  color: #ef5350;
}

.container-parallax {
  width: 100%;
  height: 100%;
}

.content {
  height: 100%;
  width: 100%;
  order: 50;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background-color: #ef5350;

  .shape {
    height: auto;
    width: 100%;
    img {
      padding-top: 50px;
      position: relative;
      width: 100%;
    }
  }
  #shape-yellow {
    height: auto;
    width: 100%;
    z-index: 49;
    background-color: #fcfcfc;
    display: inline-block;
    position: relative;
    img {
      background-color: #fcfcfc;
      position: relative;
      width: 100%;
    }
    figcaption {
      position: absolute;
      top: 40%;
      font-weight: bold;
      left: 35%;
      font-size: 900%;
      color: #ef5350;
    }
  }
  #content-cardapio {
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 20px;
    z-index: 50;
    flex-direction: row;
    background-color: #ffe08d;
    justify-content: left;
    text-align: center;
    color: #201f26;

    #content-ingredient {
      height: 100%;
      width: 30%;
      display: flex;
      flex-direction: column;
      .group-ingredient {
        .shape-white {
          background-color: #ffe08d;
          height: auto;
          width: 100%;
          img {
            position: relative;
            width: 100%;
          }
        }
        margin: 0% 15% 0 15%;
        background-color: #fcfcfc;
        border-radius: 5px;
        padding: 0% 2.5%;
        .ingredient {
          display: flex;
          justify-content: center;
          color: #201f26;
          font-weight: normal;
          text-align: center;
          font-size: larger;
          background-color: #fcfcfc;
          height: 60px;
          align-items: center;
          border: none;
          p {
            height: 100%;
            margin: 0px;
            display: flex;
            align-items: center;
          }
        }
        .ingredient:hover {
          background-color: rgb(229, 228, 231);
        }
        h2 {
          margin: 30px 0px;
          font-weight: bold;
          color: #201f26;
        }
      }
    }

    #content-drink {
      height: 100%;
      width: 30%;
      display: flex;
      flex-direction: column;
      .group-drink {
        .shape-white {
          background-color: #ffe08d;
          height: auto;
          width: 100%;
          img {
            position: relative;
            width: 100%;
          }
        }
        margin: 0% 15% 0 15%;
        background-color: #fcfcfc;
        border-radius: 5px;
        padding: 0% 2.5%;
        .drink {
          display: flex;
          justify-content: center;
          color: #201f26;
          font-weight: normal;
          text-align: center;
          font-size: larger;
          background-color: #fcfcfc;
          height: 60px;
          align-items: center;
          border: none;
          p {
            height: 100%;
            margin: 0px;
            display: flex;
            align-items: center;
          }
        }
        .drink:hover {
          background-color: rgb(229, 228, 231);
        }
        h2 {
          margin: 30px 0px;
          font-weight: bold;
          color: #201f26;
        }
      }
    }

    #container-cardapio {
      height: 100%;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .cardapio {
        margin: 0% 15% 0 15%;
        background-color: #fcfcfc;
        border-radius: 5px;
        padding: 2%;
        .cardapio-content {
          padding: 8%;
          border: solid 2px #ef5350;
          border-radius: 4px;
          h2 {
            margin: 10px 0px 35px 0px;
            font-weight: bold;
            color: #201f26;
          }
          p {
            font-size: 15px;
            text-align: center;
          }
        }
      }
    }
  }
}

.parallax-content {
  height: 300px; // Keep this the same height as above
  width: 100%;
  position: fixed;
  order: 1;
  background: #ef5350;
  background-position: center !important;
  h1.first {
    //font-family: 'Raleway-Bold';
    text-align: right;
    color: #ffe08d;
    margin: 0;
    padding-right: 55%;
    font-size: 80px;
    font-weight: bold;
    padding-top: 1%;
  }

  h1.secund {
    //font-family: 'Raleway-Bold';
    text-align: right;
    color: #ffe08d;
    margin: 0;
    padding-right: 71%;
    font-size: 70px;
    font-weight: bold;
  }

  h1.third {
    //font-family: 'Raleway-Bold';
    text-align: right;
    color: #ffe08d;
    margin: 0;
    padding-right: 20%;
    font-size: 107px;
    font-weight: bold;
    padding-top: 3%;
  }

  h1.forth {
    //font-family: 'Raleway-Bold';
    text-align: right;
    color: #ffe08d;
    margin: 0;
    padding-right: 10%;
    font-size: 65px;
    font-weight: bold;
  }

  h2 {
    //font-family: 'Raleway-Bold';
    text-align: right;
    margin: 0;
    padding-right: 18%;
    font-size: 55px;
    color: #fcfcfc;
  }
  p {
    //font-family: 'Raleway-Thin';
    margin: 0;
    text-align: right;
    padding-right: 18%;
    color: #fcfcfc;
    font-size: 35px;
  }
}

.container-perfil {
  background-color: #fcfcfc;
  display: flex;
  width: 100%;
  padding-bottom: 5%;
  .content-perfil {
    margin-left: 12%;
    h2 {
      font-size: 60px;
      font-weight: normal;
      text-align: left;
    }
  }
}

#formOrder {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fcfcfc;
  font-weight: bold;
  #buttonOrder {
    background-color: #ef5350;
    border: none;
    padding: 4%;
    height: min-content;
    border-radius: 5px;
    a {
      color: #fcfcfc;
      outline: none;
      text-decoration: none;
    }
  }
  #buttonOrder:hover {
    background-color: #db4a48;
  }
}

.container-grego {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 20px;
  z-index: 70;
  flex-direction: row;
  background-color: #fcfcfc;
  justify-content: left;
  text-align: center;
  color: #201f26;
  .about-grego {
    height: 100%;
    width: 50% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 12%;
    width: 100%;
    position: relative;
    .shape-grego-info {
      padding: 8%;
      border-radius: 4px;
      background-color: #ef5350;
      p {
        text-align: justify;
        margin: 0%;
        color: #fcfcfc;
      }
    }
  }
  #grego-parallax {
    height: 100%;
    width: 50% !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 8%;
    img {
      width: 100%;
      border-radius: 20px;
    }
  }
}

.title-delivered {
  background-color: #ffe08d;
  padding-top: 10%;
  padding-bottom: 5%;
  color: #ef5350;
  text-align: center;
  width: 100%;
  h2 {
    font-weight: bold;
    font-size: 70px;
  }
}

#container-delivered {
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 50;
  flex-direction: row;
  background-color: #ffe08d;
  justify-content: left;
  text-align: center;
  color: #fcfcfc;
  #content-delivered {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #box-delivered {
      width: 50%;
      background-color: #ef5350;
      border-radius: 5px;
      padding: 10px;
      h2 {
        font-size: 40px;
        padding: 5% 0%;
        margin: 0;
      }
      .each-delivered {
        color: #201f26;
        display: flex;
        margin: 2% 4% 2% 4%;
        background-color: #fcfcfc;
        border-radius: 5px;
        padding: 2% 2.5%;
        #deliveredbutton {
          font-weight: bold;
          background: none;
          border: none;
        }
        .number-delivered {
          margin-left: 5%;
        }
        .name-delivered {
          margin-left: 5%;
          margin-right: 5%;
        }
        .price-delivered {
          margin-right: 5%;
        }
        #info-order {
          display: flex;
          justify-content: unsetali;
          flex-direction: column;
          align-content: end;
          align-items: first baseline;
          justify-content: start;
        }
      }
    }
  }
}

#grego-parallax {
  display: block;
  height: 750px; // This height can be adjusted here and below
}

#grego-parallax div {
  position: fixed;
  top: 0;
  background-position: center !important;
  transform: translateY(0px);
  height: 750px; // Keep this the same height as above
  width: 100%;
}
