.sign-content {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("background_sign");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  #sign-shape {
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;

    .sign-box {
      padding: 15px 30px 30px 30px;
      background-color: #ffe08d;
      border-radius: 2%;
      h2 {
        font-weight: bold;
        color: #fcfcfc;
      }
      #user_name {
        width: 250px;
        margin: 5px;
        margin-left: 0px;
      }
      #user_email {
        width: 250px;
        margin: 5px;
        margin-left: 0px;
      }
      #user_password {
        width: 250px;
        margin: 5px;
        margin-left: 0px;
      }
      #user_password_confirmation {
        width: 250px;
        margin: 5px;
        margin-left: 0px;
      }
      #error_explanation{
        h2{
          font-size: 20px;
          font-weight: normal;
        }
        ul{
          padding: 0px !important;
          li{
            font-weight: bold;
            color: #ef5350;
            list-style: none;
          }
        }
      }
    
    }
  }
}


.field{
  label{
    color: #ef5350;
  }
}

.actions{
  background-color: #ef5350;
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
}

.actions:hover{
  background-color: #d14744;
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
}