<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Fast Grego" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

  </head>

  <body>
    <div classs ="total-container">
      <div class="navbar navbar-default navbar-static-top top-bar">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          </button>
          <h3 class="title-text navbar-brand" href="#" ><%= link_to "FastGrego", "/"  %></h3>
          <div class="navbar-collapse navbar-responsive-collapse context-topbar">
            <% if user_signed_in? %>
              <ul class="nav navbar-nav">
                <li id="sign_out"><%= link_to "Deslogar", destroy_user_session_path, method: :delete %></li>
              </ul>
            <% else %>
              <ul class="nav navbar-nav">
                <li id="sign_up"><%= link_to "Registra-se", "/users/sign_up"  %></li>
                <li id="sign_in"><%= link_to "Faça o LogIn", "/users/sign_in"  %></li>
            <% end %>
              </ul>
          </div>
        </div>
      </div>
      <%= yield %>
      <footer class="panel-footer footer" style="width:100%">
        <p>Desenvolvido por: Hugo Sobral e Leonardo Gomes</p>
      </footer>  
    </div>

  </body>

</html>
